@use "./styles/button.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body, #root {
    width: 100%;
    background-color: #131212;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.highlight {
    color: #e70e45;
}